@import url('https://fonts.googleapis.com/css?family=Bungee+Shade:regular&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One:regular&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter:wght@400;700&display=swap');

:root {
    /* Background Colors */
    --primary-background-color: hsl(271, 88%, 90%);
    --second-background-color: hsl(60, 43%, 95%);

    /* Black Tones */
    --black-100: hsl(0, 0%, 0%); /* Pure Black */
    --black-200: hsl(0, 0%, 10%); /* Darkest Gray */
    --black-300: hsl(0, 0%, 20%); /* Very Dark Gray */
    --black-400: hsl(0, 0%, 30%); /* Dark Gray */
    --black-500: hsl(0, 0%, 40%); /* Medium Dark Gray */
    --black-600: hsl(0, 0%, 50%); /* Medium Gray */
    --black-700: hsl(0, 0%, 60%); /* Light Gray */
    --black-800: hsl(0, 0%, 80%); /* Very Light Gray */
    --black-900: hsl(0, 0%, 95%); /* Nearly White */

    /* Font Families */
    --display-logo-font-family: 'Bungee Shade', cursive;
    --title-font-family: 'Bowlby One', cursive;
    --paragraph-font-family: 'Inter', sans-serif;

    /* Font Sizes */
    --font-size-display: 7.48em; /* 119.67 ÷ 16 */
    --font-size-h1: 5.60em; /* 89.67 ÷ 16 */
    --font-size-h2: 4.21em; /* 67.34 ÷ 16 */
    --font-size-h3: 3.16em; /* 50.52 ÷ 16 */
    --font-size-h4: 2.37em; /* 37.9 ÷ 16 */
    --font-size-h5: 1.78em; /* 28.43 ÷ 16 */
    --font-size-h6: 1.33em; /* 21.33 ÷ 16 */
    --font-size-paragraph: 1em; /* 16 ÷ 16 */
    --font-size-small: 0.75em; /* 12 ÷ 16 */
    --font-size-very-small: 0.56em; /* 9 ÷ 16 */

    /*Valores para Animações

    Futuramente, ao aprender assincronismo, volta aqui e conserta essa gambiarra que você fez por não saber usar promises ainda, mas se funciona tá valendo

    */
    --valor-posicao-inicial: 0;
    --valor-posicao-final: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow-x: hidden;
}

/*Início do hero*/

.hero {
    background-color: var(--primary-background-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-content {
    width: auto;
    height: auto;
    min-width: 280px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 55%;
}

.hero-titulo {
    font-family: var(--display-logo-font-family), cursive;
    font-size: clamp(30px, var(--font-size-h3), 4.5em);
    text-transform: uppercase;
    letter-spacing: 2.40px;
    font-weight: 400;
    -webkit-text-stroke-width: 1px; /*stroke titulo */
    line-height: 100%;
    text-align: center;
}

.hero-subtitulo {
    font-family: var(--paragraph-font-family), "Inter Semi Bold";
    font-size: var(--font-size-h5);
    font-weight: 500;
    line-height: 130%;
    -webkit-text-stroke-width: 0.5px;
    text-transform: capitalize;
}

.container-imagem-hero {
    position: absolute;
}

div img {
    max-width: 100%;
    height: auto;
}

.container-homem-negro-com-skate-e-toca {
    width: 200px;
    bottom: -300px;
    left: 0;
}

.animacaoMovendoFotoDoHomemNegro {
    animation: movingHomemNegro 2.5s ease-in forwards;
}

@keyframes movingHomemNegro {
    0% {
        left: 0;
        bottom: -300px;
    }
    99% {
        bottom: 1000px;
    }
    100% {
        bottom: 1000px;
        opacity: 0;
        visibility: hidden;
    }
}

.container-old-skool-skate {
    width: 250px;
    bottom: 0;
    right: 0;
}

.animacaoMovendoFotoDoOldSkool {
    animation: movingOldSkool 4s ease-in forwards;
}

@keyframes movingOldSkool {
    0% {
        bottom: -500px;
    }
    99% {
        bottom: 1000px;
    }
    100% {
        bottom: 1500px;
        opacity: 0;
        visibility: hidden;
    }
}

.container-crianca-japonesa {
    width: 200px;
    bottom: -400px;
    right: 0;
}

.animacaoMovendoFotoDaCriancaJaponesa {
    animation: movingCriancaJaponesa 3.8s ease-in forwards;
}

@keyframes movingCriancaJaponesa {
    0% {
        bottom: -500px;
    }
    99% {
        bottom: 1500px;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.container-homem-na-pista-de-skate {
    width: 200px;
    bottom: -600px;
    right: 0;
}

.animacaoMovendoFotoDoHomemNaPistaDeSkate {
    animation: movingHomemPista 7s ease forwards;
}

@keyframes movingHomemPista {
    0% {
        bottom: -2000px;
    }
    99% {
        bottom: 1000px;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.container-mulher-pousando-para-a-foto-com-skate {
    width: 150px;
    bottom: -500px;
    right: auto;
    left: 0;
}

.animacaoMovendoFotoDaMulher {
    animation: movingMulher 7.6s ease forwards;
}

@keyframes movingMulher {
    0% {
        bottom: -1700px;
    }
    99% {
        bottom: 1000px;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.container-jovens-com-skate {
    width: 250px;
    bottom: -1500px;
    left: 0;
}

.animacaoMovendoFotoDosJovensNaPistaDeSkate {
    animation: movingJovens 5.6s ease forwards;
}

@keyframes movingJovens {
    0% {
        bottom: -1500px;
    }
    99% {
        bottom: 1000px;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/*Fim hero*/

/*Começo Produtos*/

.produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 32px;
    margin: 20px 0;

}

.item-produtos {
    border: 1px solid black;
    width: 90%;
    padding: 0 2rem;
    height: 75vh;
    background-color: var(--second-background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;

}


.imagem1 {
    width: 100%;
    height: 265px;
    background: url("./resources/imgs/Cards/menino-com-skate-na-mao.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 3px;
    margin-top: 32px;
}

.titulo-card {
    margin-top: 16px;
}

.titulo-card h3 {
    font-family: var(--title-font-family);
    font-size: var(--font-size-h5);
    text-transform: uppercase;
}

.titulo-card p {
    text-transform: uppercase;
    display: inline-flex;
    font-family: var(--title-font-family);
    font-size: 14px;
    background-color: var(--primary-background-color);
    padding: 1px 5px;
    border-radius: 20px;
}

.descricao-card {
    width: 100%;
    font-family: var(--paragraph-font-family);
    font-size: 16px;
    line-height: 160%;
    text-align: justify;
    margin-top: 12px;
}

button {
    background-color: var(--second-background-color);
    font-family: var(--paragraph-font-family);
    border: 1px solid black;
    border-radius: 15px;
    padding: 4px 24px;
    font-weight: bolder;
    -webkit-text-stroke: 0.2px black;
    margin-top: 12px;
}

#produto-1 {
    margin-top: 32px;
    box-shadow: 430px 1225px 250px 0px rgba(184, 6, 234, 0.00), 275px 784px 250px 0px rgba(184, 6, 234, 0.02), 155px 441px 250px 0px rgba(184, 6, 234, 0.06), 69px 196px 208px 0px rgba(184, 6, 234, 0.10), 17px 49px 114px 0px rgba(184, 6, 234, 0.12);
}

#produto-2 {
    box-shadow: -2079px 2688px 250px 0px rgba(143, 32, 254, 0.00), -1331px 1720px 250px 0px rgba(143, 32, 254, 0.03), -748px 968px 250px 0px rgba(143, 32, 254, 0.10), -333px 430px 250px 0px rgba(143, 32, 254, 0.16), -83px 108px 250px 0px rgba(143, 32, 254, 0.19);
}

.imagem2 {
    width: 100%;
    height: 265px;
    background: url("./resources/imgs/Cards/menino fazendo manobra .jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    margin-top: 32px;
}

.imagem3 {
    width: 100%;
    height: 265px;
    background: url("./resources/imgs/Cards/mulher e skater.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    margin-top: 32px;
}

.imagem4 {
    width: 100%;
    height: 265px;
    background: url("./resources/imgs/Cards/manobra em preto e branco.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    margin-top: 32px;
}

/*Fim produtos

Começo Marketing1*/

.marketing1 {
    height: 100vh;
    width: 100%;
    background-color: var(--primary-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frase {
    color: white;
    font-family: var(--title-font-family);
    font-size: var(--font-size-h3);
    line-height: 125%;
    /*border: 1px solid red;*/
    text-align: center;
    margin-bottom: 60px;
}

.gif {
    height: 15vh;
    width: auto;
    /*border: 1px solid red;*/
    background-size: cover;
}

#gifskate {
    background: url("./resources/imgs/Marketing/flor.gif");
    background-size: contain;
    width: auto;
    height: 80%;
}

.gifAbsolute {
    position: relative;
    width: 35vw;
}

#coracao {
    top: -30px;
    left: 10px;
}

#estrelas {
    top: -150px;
    right: -120px;
}

/* Começo marketing 2*/

.marketing2 {
    height: 100vh;
    background-color: var(--second-background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    max-width: 100vh;
}

#novoNormal {
    font-size: var(--font-size-h6);
    font-family: var(--title-font-family);
    padding: 0 0.4em;
    background-color: var(--primary-background-color);
    border-radius: 20px;
    margin: 4em;
}

#textoSkate {
    font-size: var(--font-size-h5);
    font-family: var(--title-font-family);
    text-align: center;
    width: 110%;
    white-space: wrap;
    margin-bottom: 3em;
}

#cachorro {
    width: 80%;
    height: 35%;

}

#imagemDoCachorro {
    background: url("./resources/imgs/Marketing/cachorro e skate.gif");
    width: auto;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/*fim marketing 2*/

/*Começo do opiniões*/

.opinioes {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opinioes h2 {
    font-family: var(--title-font-family);
    text-transform: uppercase;
    text-align: center;
    font-size: calc(var(--font-size-h4) - 5px);
    color: white;
    margin-top: 5rem;
    line-height: 110%
}

.containerCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 35vh;
    border: 4px solid white;
    margin-top: 5rem;
    gap: 32px;
    text-align: justify-all;
}
#skateRolando{
    margin-top: 5rem;
}

.imagemUsuario img {
    border-radius: 100px;
}

.dadosUsuario h5 {
    font-family: var(--title-font-family);
    font-size: calc(var(--font-size-paragraph) + 5px);
    font-weight: lighter;
    color: white;
}

.dadosUsuario p{
    font-family: var(--title-font-family);
    font-size: calc(var(--font-size-paragraph) - 5px);
    background-color: #AE70EA;
    display: inline;
    padding: 0.5px 6px;
    text-align: center;
    font-weight: lighter;
    border-radius: 20px;
}

#redes-sociais-usuarios{
    position: relative;
    bottom: 5px;
}

.usuarioOpiniao {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 24px;
}

#estrelas-opinioes{
    display: flex;
    gap: 0.5rem;
}

.avaliacoes{
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5em
}

#nota{
    color: white;
    font-size: 16px;
    line-height: 100%;
    background-color: black;
}
.descricaoOpiniao{
    overflow-y: hidden;
    color: white;
    font-family: var(--paragraph-font-family);
    width: 85%;
    height: 35%;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 140%;
}


/*Começo footer*/

footer {
    height: 35vh;
    width: 100vw;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parte-roxa {
    border-bottom: 2px solid black;
    height: 60%;
    width: 100%;
    background-color: var(--primary-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-benjor-texto {
    font-family: var(--display-logo-font-family);
    font-size: var(--font-size-h6);
    -webkit-text-stroke: 0.1px black;
    margin-bottom: 10px;
}

#container-redes-sociais {
    width: 50%;
    height: 30px;
    background-color: white;
}

.item-redes-sociais {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
}