* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

#container-vitrine{
    width: 100vw;
    height: 700px;
    overflow: auto;
    border: 2px solid red;
    display: flex;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

#container-flexivel-carrosel{
    display: inline-flex;
    gap: 10vw;
}

#container-flexivel-carrosel div{
    width: 80vw;
    height: 700px;
    background-color: blue;
    scroll-snap-align: center;
}

#container-flexivel-carrosel > div:first-child{
    background-color: red;
    margin-left: 10vw;
}